body{
    background-color: #454B5E;
    margin-top: 300px;
}

.login{
    background-color: #CAF0F8;
    width: 400px;
    height: 300px;
    border-radius: 50px;
    margin: auto;
    
    padding: 25px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    
   
    
  }
  
  #loginlist{
    padding: 40px;
    text-align: center;
  }
  #loginlist li{
    list-style: none;
    
    
  }
  #username{
    width: 250px;
    height: 45px;
    background: #0077B6;
    border-style: none;
    border-radius: 45px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2.5px;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
    margin-bottom: 5px;
    
  }
  #username:hover{
    opacity: 1;
    box-shadow: 0px 0px 20px rgb(0, 0, 255,0.8);
    transition:  ease-in-out 0.4s;
  }
  #username::placeholder{
    text-transform: uppercase;
    color: #000;
  }
  #username:focus::placeholder{
    color: transparent;
  }
  #password{
    width: 250px;
    height: 45px;
    background: #0077B6;
    border-style: none;
    border-radius: 45px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2.5px;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 5px;
    margin-bottom: 15px;
    
  }
  #password::placeholder{
    text-transform: uppercase;
    color: #000;
  }
  #password:focus::placeholder{
    color: transparent;
  }
  #password:hover{
    opacity: 1;
    box-shadow: 0px 0px 20px rgb(0, 0, 255,0.8);
    transition:  ease-in-out 0.4s;
  }
  #loginsubmit{
    width: 125px;
    height: 25px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 2.5px;
    border-style: none;
    border-radius: 25px;
    margin-top: 25px;
    box-shadow: 0px 8px 15px rgb(0, 0, 0,0.3);
    background-color: white;
    transition: all 0.4s ease 0s;
    outline: none;
    cursor: pointer;
  }
  #loginsubmit:hover{
    background-color: #7DCFB6;
    color: white;
    box-shadow: 0px 15px 20px #64a591;
    transform: translateY(-7px);
  
  }
  #loginsubmit:hover:active{
    background-color: white;
    color: black;
    transition: all 0s ease 0s;
  }